# 聊天最大长度
chatMsgMaxLen = 64
# 最大角色名
roleNameMaxLen = 8
# 聊天间隔
chatElapse = 3000
# 玩家对象缓存时间
playerCacheTime = 3600000
# 地图统计战斗时间
statisticsFightTime = 30,47,57
# 地图战斗最大时间
battlefieldTime = 22,44,54
# 战斗pvp冷却秒数
fightMinCool = 3
# 前后端战斗延时秒数
fightDelayTime = 3
# 最大战斗回合
fightMaxTurn = 30
# 竞技场最大回合数
arenaMaxTurn = 50
# boss最大回合数
bossMaxTurn = 50
# 竞技场-玩家最小初始排行
playerMinInitRank = 3001
# 竞技场-每页可挑战的玩家的数量
pageDefenderQty = 3
# 竞技场-每天玩家免费挑战次数
freeChallengeTimes = 5
# 竞技场-排行榜中显示的玩家数量
rankingListPlayerQty = 20
# 竞技场-每日发奖时间字符串
arenaRewardTimeStr = 21:00:00
# 竞技场-进入竞技场最小战斗力
enterArenaMinFight = 1000
# 竞技场广播世界聊天名次
broadcastWorldMsgRank = 3
# 竞技场排名-主页广播
arenaRankBroadcast = 竞技场第 %d 名: %s
# 竞技场前N名-世界聊天
arenaRankItemMsg = 第 %d 名：%s，
arenaRankWorldMsg = 竞技场排名前 3 名为——
# 竞技场前N名变更-世界聊天
arenaRankChangeWorldMsg = 恭喜玩家 %s 打败 %s，成为竞技场第 %d 名！
# 竞技场前N名变更-广播
arenaRankChangeBroadcast = 恭喜 %s 成为竞技场第 %d 名！
# 竞技场-竞技记录数量上限
maxArenaRankRecord = 20
# 角色商城刷新次数和钻石对应表
refashCostGoldNums=50,100,100,200,200,200,350,350,350,350,500 
# 快照-玩家数据快照缓存数量
maxPlayerSnapShotQty = 10000
# 快照-当前服务器玩家快照版本
playerSnapShotVersion = 1
# 公会排行榜
rankingAllianceQty = 20
# 公会BOSS鼓舞次数
allianceBossAddPorpNumber = 10
# 装备背包默认空间上限
equipBagSize = 50
# 佣兵开启
openMercenary = 15_7,20_8,25_9
# 装备背包扩展上限
equipExtendTimes = 15
# 装备背包扩展一次增加多少
equipExtendSize = 10
# 装备背包扩展一次多少钻石
equipExtendGoldCost = 100
# 最大离线挂机时间(秒)
maxOfflineTime = 86400
# 快速战斗时间(秒)
fastFightTime = 7200
# 购买快速战斗次数价格
buyFastFightPrice = 30,50,50,90,90,120,120,150,150
# 购买boss挑战次数价格
buyBossFightPrice = 50,100,100,200
# 购买精英副本挑战价格
buyEliteMapPrice = 50,100,100,200
# 技能格子等级开放序列
skillSlotLevelLimit = 5,15,25,35
# 佣兵技能格子等级开放序列
mercenarySkillSlotLevelLimit = 0,2,7,9
# 装备部位 和 神器属性id 对应关系
equipPartGodlyAttr = 1_1009,2_1001,3_1004,4_1005,5_1008,6_1007,7_1006,8_1002,9_1010,10_1003
equipPartGodlyAttr2 = 1_2001,2_2104,3_2006,4_2008,5_2009,6_2010,7_2103,8_2007,9_2005,10_2002
# 命中时等级参数系数
hitLevelRate = 1.6
# 暴击时等级参数系数
critLevelRate = 1.6
# 无孔概率 1孔概率 2孔概率
punchWeight = 0_6180,1_3090,2_730
# 团战-参加团战的最小战力值
joinTeamBattleMinFight = 1500
# 团战-每队人数上限
teamBattleMaxPlayerQty = 10
# 团战-创建队伍消耗钻石
createTeamPrice = 50
# 团战-每日开始时间
teamBattleStartTimeStr = 14:00:00,19:00:00
# 团战-一次团战中每轮战斗的间隔时间（单位：s）
teamBattleRoundIntervalTime = 300
# 团战-上一次团战结束到下一次团战开始之间的休战时间（单位：s）
teamBattleEndSwitchTime = 600
# 团战-队长奖励金币系数（等级*金币系数）
captainGoldRatio = 3000
# 团战-队员奖励金币系数（等级*金币系数）
memberGoldRatio = 1000
# 团战-每轮奖励金币系数（等级*金币系数）
roundGoldRatio = 1000
# 团战-队长额外奖励物品（宝石袋*1）
captainExtraAward = 30000_41001_1
# 团战-冠军队长额外奖励物品，与队长额外奖励不冲突，可以累计获得（高级宝石袋*1）
winTeamCaptainExtraAward = 30000_41002_1
# 团战-冠军队员额外奖励物品（宝石袋*1）
winTeamMemberExtraAward = 30000_41001_1
# 留言-单个玩家之间显示的最大留言数
maxMsgQty = 50
# 装备吞噬消耗部位系数
equipSwallowPartRatio = 1_2,2_2,3_0,4_1,5_1,6_3,7_4,8_4,9_2,10_3
# 公会报道奖励个人exp
allianceReprotExp = 30
# 公会报道奖励公会exp
allianceReprotSysCoin = 30
# 洗炼属性分配
equipBaptize = 1_13,2_13,3_13,4_13|1_13,2_13,3_13,4_13|1_13,2_13,3_13,4_13
# 留言-最大字数限制
msgMaxLength = 40
# 公会创建等级限制
allianceCreateLevel = 18
# 公会进入等级限制
allianceEnterLevel = 12
# 全服挂机掉率
globalAwardRatio = 1
# 特殊cdk
specialCdks = ttagj:10000_1001_300;qmgj:10000_1001_100,30000_10004_1;qmgjq:30000_10002_1;qmgjm:30000_10003_1;qmgjj:30000_10005_1;qmgjg:30000_10006_1;qmgjc:30000_10007_1
# 服务器礼包
giftInfos = 1:10000_1002_20000;2:10000_1001_100,10000_1002_50000
# 初始化金币
initCoin = 0
# 初始化钻石
initGold = 0
# 创建公会需要钻石
allianceCreateGold = 300
# 公会boss免费次数
allianceBossNumber = 2
# 自动加入boss战斗的vip限制
autoBossJoinVipLimit = 3
# 公会Boss自动参战扣费
allianceAutoFightCostGold = 20
# 好友数量限制
friendCountLimit = 30
# 帮派踢人消耗经验值
kickAlliamceMemberExp = 30
# 荣誉商店刷新消耗
honorShopRefreshCostStr = 10,30,30,80,80,80,150
# 职业排行发奖的天数间隔
profRankRewardDays = 100000
# 职业排行发奖的时间
profRankReawrdTimeStr = 00:00:00
# 最大屏蔽个数
maxShieldSize = 10
# 职业排行的最大排名数量
maxProfRankNum = 500
# 职业排行的发奖最大名次
maxProfRankRewardNum = 20
# 职业排行的最大显示玩家个数
maxProfRankShowNum = 20
# 添加好友提示
addFriendNotice = 我已经加你为好友,请点击上方我的名字按钮加我好友吧!
# 阵营战-主界面连杀排行榜人数上限
lastCampWarWinStreakMaxRank = 10
# 阵营战-战场内连杀排行上限
curCampWarWinStreakMaxRank = 3
# 阵营战-最大鼓舞次数
campWarMaxInspireTimes = 10
# 阵营战-每次鼓舞价格（钻石）
campWarInspirePrice = 20
# 阵营战-每次鼓舞加成百分比
campWarInspireBonuses = 5
# 阵营战-每日准备时间
campWarPrepareTimeStr = 15:00:00
# 阵营战-每日战斗开始时间
campWarBattleStartTimeStr = 20:00:00
# 阵营战-每日战斗结束时间
campWarBattleStopTimeStr = 20:30:00
# 阵营战-每日展示结束时间
campWarShowStopTimeStr = 20:40:00
# 阵营战-战斗频率(单位：s)
campWarBattlePeriod = 30
# 阵营战-参加所需最小战斗力
campWarMinFightValue = 2000
# 阵营战-单轮战斗胜利奖励金币系数
campWarRoundWinGoldRatio = 30
# 阵营战-单轮战斗胜利奖励声望
campWarRoundWinReputation = 8
# 阵营战-胜者所在阵营增加积分
campWarWinnerAddScore = 3
# 阵营战-败者所在阵营增加积分
campWarLoserAddScore = 1
# 阵营战-每轮连胜战报显示数量
campWarMaxWinStreakReport = 5
# 阵营战-每轮终结战报显示数量
campWarMaxEndStreakReport = 2
# 阵营战-自动阵营战VIP等级
autoCampWarVipLevel = 4
# 阵营战-自动阵营战扣除钻
autoCampWarGold = 50
# 阵营战开始前系统广播
campWarStartWorldMsg = 激流谷之战即将开始
# 阵营战开始前聊天广播
campWarStartChatMsg = 激流谷之战即将开始，请通过团战加入
# 阵营战结束后系统广播
campWarStopWorldMsg = 激流谷之战已经结束
# 阵营战结束后聊天广播
campWarStopChatMsg = 激流谷之战已经结束，可到邮件中查收个人奖励
# 阵营战-获胜阵营额外奖励声望
winCampExtraReputation = 100
# 阵营战-战场投资（自动加入）奖励系数
autoCampWarAwardRatio = 0.7
# 神器合成石头
equipCompoundItemId = 90002
# 每日新服好礼领取次数限制
dailyNewSerGiftRewardLimit = 3
# 手动战斗冷却(s)
manualBattleCd = 10
# 活动横条
bannerActivityId = 10
# 神器融合消耗的声望
equipCompoumdCostRep = 2000
# 充值返利活动-返利所需最小充值单位
rechargeMinUnitGold = 1000
# 充值返利活动-每日返利最小单位
rebateMinUnitGold = 33
# 竞技场胜利奖励
arenaWinAward = 10000_1010_10,10000_1011_10
# 竞技场失败奖励
arenaLoseAward = 10000_1010_5,10000_1011_5
# 充值返利活动-每日返利最大钻石
everydayRebateMaxGold = 500
# 猎豹移动地址
cmHost = http://xofferwall.ksmobile.com
cmTimeout = 200
# 公会Boss-快速战斗一次元气值
quickBattleAddVitality = 20
# 公会Boss-战胜世界BOSS元气值
worldBossAddVitality = 10
# 公会Boss-参加多人团战元气值（战斗结束时发放）
teamBattleAddVitality = 10
# 公会Boss-参加阵营战元气值（战斗结束时发放）
campWarAddVitality = 20
# 公会Boss-竞技场挑战成功元气值
arenaWinAddVitality = 5
# 公会Boss-竞技场挑战失败元气值
arenaFailAddVitality = 0
# 公会加入新人消息
joinAllianceChat = 新人加入公会，请大家多多关照。
# 远征活动排行榜人数
expeditionArmoryRankingSize = 50
# 远征活动阶段切换广播
expeditionArmoryStageChangeMsg = 远征物资征集第 %s 阶段已经完成