<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>f_xrjs01.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,360},{326,350}}</string>
			<key>offset</key>
			<string>{8,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{326,350}}</string>
			<key>sourceSize</key>
			<string>{382,356}</string>
		</dict>
		<key>f_xrjs01l.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,4},{326,350}}</string>
			<key>offset</key>
			<string>{8,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{326,350}}</string>
			<key>sourceSize</key>
			<string>{382,356}</string>
		</dict>
		<key>f_xrjs02.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,1314},{273,364}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{273,364}}</string>
			<key>sourceSize</key>
			<string>{293,372}</string>
		</dict>
		<key>f_xrjs02l.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,1314},{273,364}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{273,364}}</string>
			<key>sourceSize</key>
			<string>{293,372}</string>
		</dict>
		<key>f_xrjs03.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,946},{319,362}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{319,362}}</string>
			<key>sourceSize</key>
			<string>{337,362}</string>
		</dict>
		<key>f_xrjs03l.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,716},{319,362}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{319,362}}</string>
			<key>sourceSize</key>
			<string>{337,362}</string>
		</dict>
		<key>f_xrm01.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,4},{157,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,91}}</string>
			<key>sourceSize</key>
			<string>{157,91}</string>
		</dict>
		<key>f_xrm02.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,201},{155,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,92}}</string>
			<key>sourceSize</key>
			<string>{155,92}</string>
		</dict>
		<key>f_xrm03.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,101},{155,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,94}}</string>
			<key>sourceSize</key>
			<string>{155,94}</string>
		</dict>
		<key>u_app_head1.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,807},{133,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,248}}</string>
			<key>sourceSize</key>
			<string>{133,248}</string>
		</dict>
		<key>u_app_head2.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,553},{133,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,248}}</string>
			<key>sourceSize</key>
			<string>{133,248}</string>
		</dict>
		<key>u_app_head3.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,299},{133,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,248}}</string>
			<key>sourceSize</key>
			<string>{133,248}</string>
		</dict>
		<key>u_nvdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{521,936}}</string>
			<key>offset</key>
			<string>{3,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,3},{521,936}}</string>
			<key>sourceSize</key>
			<string>{615,964}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>appstore.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a93972d472e3d27cf76bfd4f6996952f$</string>
		<key>textureFileName</key>
		<string>appstore.png</string>
	</dict>
</dict>
</plist>
