<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BattleAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,846},{466,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,84}}</string>
                <key>sourceSize</key>
                <string>{466,84}</string>
            </dict>
            <key>BattleAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,777},{466,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,84}}</string>
                <key>sourceSize</key>
                <string>{466,84}</string>
            </dict>
            <key>BattleAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,758},{466,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,84}}</string>
                <key>sourceSize</key>
                <string>{466,84}</string>
            </dict>
            <key>BattleAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,367},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>BattleAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,305},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>BattleAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,561},{202,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{202,34}}</string>
                <key>sourceSize</key>
                <string>{248,34}</string>
            </dict>
            <key>BattleAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,275},{248,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,34}}</string>
                <key>sourceSize</key>
                <string>{248,34}</string>
            </dict>
            <key>BattleAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,313},{226,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{226,34}}</string>
                <key>sourceSize</key>
                <string>{248,34}</string>
            </dict>
            <key>BattleAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,81},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>BattleBuff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,501},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,934},{64,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{64,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,3},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,934},{66,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,828},{66,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,934},{66,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{66,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,758},{66,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,699},{66,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,699},{66,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleBuff_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,589},{66,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BattleHit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,351},{221,122}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{221,122}}</string>
                <key>sourceSize</key>
                <string>{235,132}</string>
            </dict>
            <key>BattleHit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,599},{201,96}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{201,96}}</string>
                <key>sourceSize</key>
                <string>{235,132}</string>
            </dict>
            <key>BattleHit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,659},{201,76}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{201,76}}</string>
                <key>sourceSize</key>
                <string>{235,132}</string>
            </dict>
            <key>BattleHit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,477},{213,80}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{213,80}}</string>
                <key>sourceSize</key>
                <string>{235,132}</string>
            </dict>
            <key>BattleHit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,429},{141,68}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,38},{141,68}}</string>
                <key>sourceSize</key>
                <string>{235,132}</string>
            </dict>
            <key>BattleHit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,125},{107,74}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{107,74}}</string>
                <key>sourceSize</key>
                <string>{235,132}</string>
            </dict>
            <key>u_BattleBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,699},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>u_BattleBarHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,95},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>u_BattleBarMp.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,246},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>u_BattleButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,203},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>u_BattleButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,501},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>u_BattleButton03.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,59},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{32,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>u_BattleFrame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,167},{275,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,104}}</string>
                <key>sourceSize</key>
                <string>{275,104}</string>
            </dict>
            <key>u_BattleFrame02.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,59},{275,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,104}}</string>
                <key>sourceSize</key>
                <string>{275,104}</string>
            </dict>
            <key>u_BattleFrame03.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,59},{275,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,104}}</string>
                <key>sourceSize</key>
                <string>{275,104}</string>
            </dict>
            <key>u_BattlePageBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{620,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,239}}</string>
                <key>sourceSize</key>
                <string>{620,239}</string>
            </dict>
            <key>u_BattlePageBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,3},{313,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,52}}</string>
                <key>sourceSize</key>
                <string>{313,52}</string>
            </dict>
            <key>u_BattlePageBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,590},{600,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,164}}</string>
                <key>sourceSize</key>
                <string>{600,164}</string>
            </dict>
            <key>u_BattlePageBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,246},{600,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,340}}</string>
                <key>sourceSize</key>
                <string>{600,340}</string>
            </dict>
            <key>u_BattlePageBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,351},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Career.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2adafeab3d41473ce161bc9bfe470fa$</string>
            <key>textureFileName</key>
            <string>Career.png</string>
        </dict>
    </dict>
</plist>
