<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_ChoiceRole01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,191},{153,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,184}}</string>
                <key>sourceSize</key>
                <string>{153,184}</string>
            </dict>
            <key>u_ChoiceRole02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,191},{153,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,184}}</string>
                <key>sourceSize</key>
                <string>{153,184}</string>
            </dict>
            <key>u_ChoiceRole03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,191},{153,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,184}}</string>
                <key>sourceSize</key>
                <string>{153,184}</string>
            </dict>
            <key>u_ChoiceRole04.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,3},{153,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,184}}</string>
                <key>sourceSize</key>
                <string>{153,184}</string>
            </dict>
            <key>u_ChoiceRole05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,3},{153,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,184}}</string>
                <key>sourceSize</key>
                <string>{153,184}</string>
            </dict>
            <key>u_ChoiceRole06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{153,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,184}}</string>
                <key>sourceSize</key>
                <string>{153,184}</string>
            </dict>
            <key>u_ChoiceRoleBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,379},{82,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{82,97}</string>
            </dict>
            <key>u_ChoiceRoleLabel01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,379},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>u_ChoiceRoleLabel02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,410},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>u_ChoiceRoleLabel03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,379},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>u_ChoiceRoleTex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,379},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChoiceRole.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ed75a0a9ca98ae537583c49c2806329$</string>
            <key>textureFileName</key>
            <string>ChoiceRole.png</string>
        </dict>
    </dict>
</plist>
