<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BirdAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,271},{25,47}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{25,47}}</string>
                <key>sourceSize</key>
                <string>{103,81}</string>
            </dict>
            <key>BirdAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,417},{91,29}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{91,29}}</string>
                <key>sourceSize</key>
                <string>{103,81}</string>
            </dict>
            <key>BirdAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,417},{103,23}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,81}</string>
            </dict>
            <key>BirdAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,444},{85,45}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{85,45}}</string>
                <key>sourceSize</key>
                <string>{103,81}</string>
            </dict>
            <key>EquipAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,163},{148,148}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,69},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,143},{158,138}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,70},{158,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,3},{158,156}}</string>
                <key>offset</key>
                <string>{24,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,67},{158,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,3},{154,124}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,62},{154,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{166,136}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,52},{166,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,437},{134,146}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{134,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,315},{138,158}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,48},{138,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,285},{146,148}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,66},{146,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,131},{152,136}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,81},{152,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>EquipAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,271},{142,142}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{142,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipAni.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:642f33edb515179b57a47a5519d810fc$</string>
            <key>textureFileName</key>
            <string>EquipAni.png</string>
        </dict>
    </dict>
</plist>
