<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_ContinuousLandingBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,642},{534,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,209}}</string>
                <key>sourceSize</key>
                <string>{534,209}</string>
            </dict>
            <key>u_ContinuousLandingBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,429},{534,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,209}}</string>
                <key>sourceSize</key>
                <string>{534,209}</string>
            </dict>
            <key>u_ContinuousLandingBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,216},{534,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,209}}</string>
                <key>sourceSize</key>
                <string>{534,209}</string>
            </dict>
            <key>u_ContinuousLandingBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{534,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,209}}</string>
                <key>sourceSize</key>
                <string>{534,209}</string>
            </dict>
            <key>u_ContinuousLandingContent01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,357},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>u_ContinuousLandingContent01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,472},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>u_ContinuousLandingContent01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,414},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>u_ContinuousLandingContent02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,299},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>u_ContinuousLandingContent02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,356},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>u_ContinuousLandingContent02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,298},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>u_ContinuousLandingContent03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,241},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>u_ContinuousLandingContent03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,240},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>u_ContinuousLandingContent03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,182},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>u_ContinuousLandingContent07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,183},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>u_ContinuousLandingContent07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,124},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>u_ContinuousLandingContent07_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,66},{249,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,54}}</string>
                <key>sourceSize</key>
                <string>{249,54}</string>
            </dict>
            <key>u_ContinuousLandingContent08_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,61},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>u_ContinuousLandingContent08_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,3},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>u_ContinuousLandingContentLv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,415},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>u_ContinuousLandingContentLv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,415},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>u_ContinuousLandingContentLv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,466},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>u_ContinuousLandingContentPoint01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,66},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>u_ContinuousLandingContentPoint02.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,66},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>u_ContinuousLandingContentTitle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,3},{286,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,59}}</string>
                <key>sourceSize</key>
                <string>{286,59}</string>
            </dict>
            <key>u_ContinuousLandingContentTitle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,119},{197,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,60}}</string>
                <key>sourceSize</key>
                <string>{197,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ExpeditionMaterialsCollection.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:378c2aa0462e2268f547a33c3b05f748$</string>
            <key>textureFileName</key>
            <string>ExpeditionMaterialsCollection.png</string>
        </dict>
    </dict>
</plist>
