<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GodEquipAni03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1843},{174,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,739},{176,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,555},{176,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,371},{176,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1659},{174,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1475},{174,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1291},{174,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,187},{176,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{176,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1107},{174,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>GodEquipAni03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,923},{174,180}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GodEquipAni03.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db9f8be80508afa116f828313bdf70bb$</string>
            <key>textureFileName</key>
            <string>GodEquipAni03.png</string>
        </dict>
    </dict>
</plist>
