<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_LevelUpFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,944},{231,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,46}}</string>
                <key>sourceSize</key>
                <string>{231,46}</string>
            </dict>
            <key>A_LevelUpFontParticle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,621},{328,151}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{328,151}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,617},{334,149}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{334,149}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,468},{340,149}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{340,149}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,466},{346,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{346,147}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,315},{350,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{350,149}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,313},{354,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{354,149}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,160},{358,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{358,151}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,158},{360,151}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,151}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{364,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,153}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpFontParticle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,3},{364,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{364,151}}</string>
                <key>sourceSize</key>
                <string>{364,153}</string>
            </dict>
            <key>A_LevelUpLightFrame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,754},{110,161}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,83},{110,161}}</string>
                <key>sourceSize</key>
                <string>{118,247}</string>
            </dict>
            <key>A_LevelUpLightFrame02.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,754},{114,229}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{114,229}}</string>
                <key>sourceSize</key>
                <string>{118,247}</string>
            </dict>
            <key>A_LevelUpLightFrame03.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,503},{114,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,247}}</string>
                <key>sourceSize</key>
                <string>{118,247}</string>
            </dict>
            <key>A_LevelUpLightFrame04.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,503},{116,247}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,247}}</string>
                <key>sourceSize</key>
                <string>{118,247}</string>
            </dict>
            <key>A_LevelUpLightFrame08.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,3},{118,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,247}}</string>
                <key>sourceSize</key>
                <string>{118,247}</string>
            </dict>
            <key>A_LevelUpLightFrame09.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,3},{118,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,247}}</string>
                <key>sourceSize</key>
                <string>{118,247}</string>
            </dict>
            <key>A_LevelUpLightFrame10.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,254},{118,245}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,245}}</string>
                <key>sourceSize</key>
                <string>{118,247}</string>
            </dict>
            <key>A_LevelUpLightFrame11.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,254},{118,245}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,245}}</string>
                <key>sourceSize</key>
                <string>{118,247}</string>
            </dict>
            <key>shengji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,770},{172,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,110}}</string>
                <key>sourceSize</key>
                <string>{172,110}</string>
            </dict>
            <key>shengji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,503},{65,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,158}}</string>
                <key>sourceSize</key>
                <string>{65,158}</string>
            </dict>
            <key>shengji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,823},{55,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,158}}</string>
                <key>sourceSize</key>
                <string>{55,158}</string>
            </dict>
            <key>shengji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,3},{37,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,157}}</string>
                <key>sourceSize</key>
                <string>{37,157}</string>
            </dict>
            <key>shengji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,770},{149,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,91}}</string>
                <key>sourceSize</key>
                <string>{149,91}</string>
            </dict>
            <key>shengji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,665},{64,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,154}}</string>
                <key>sourceSize</key>
                <string>{64,154}</string>
            </dict>
            <key>shengji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,919},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>shengji9.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,865},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelUpAni.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab171075db8dd91d1213dad5b3ea569a$</string>
            <key>textureFileName</key>
            <string>LevelUpAni.png</string>
        </dict>
    </dict>
</plist>
