<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_BackPack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,227},{126,100}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{126,100}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>u_Decoration01.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,358},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>u_Decoration02.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,338},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>u_Decoration03.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,264},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>u_Decoration04.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,223},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>u_Decoration05.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,182},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>u_Decoration06.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,226},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>u_Decoration07.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,305},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>u_Decoration08.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,161},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>u_Decoration09.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,331},{122,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,199}}</string>
                <key>sourceSize</key>
                <string>{122,199}</string>
            </dict>
            <key>u_Decoration10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,49},{559,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,108}}</string>
                <key>sourceSize</key>
                <string>{559,108}</string>
            </dict>
            <key>u_Decoration11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,161},{483,18}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{483,18}}</string>
                <key>sourceSize</key>
                <string>{559,108}</string>
            </dict>
            <key>u_Equipmentbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,626},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,554},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,610},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,534},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,508},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,462},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,462},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,659},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,610},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,530},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Equipmentbg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,518},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Fair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,227},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>u_FontBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,127},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>u_FontBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,205},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>u_FontBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,49},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>u_FontBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,282},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>u_FontBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,479},{117,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,23}}</string>
                <key>sourceSize</key>
                <string>{117,23}</string>
            </dict>
            <key>u_FontBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,183},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>u_FontBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,183},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>u_FontBG08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,183},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>u_FontBG09.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,3},{284,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,175}}</string>
                <key>sourceSize</key>
                <string>{284,175}</string>
            </dict>
            <key>u_Icobg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,499},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,404},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,358},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,358},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,555},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,3},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>u_Icobg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,261},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_Icobg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,451},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,426},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,395},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,506},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_Icobg13.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,426},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>u_Label06.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,281},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>u_Label07.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,183},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>u_Lock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,113},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>u_MainFrameButtonBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,227},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>u_RegimentWarBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,265},{133,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,126}}</string>
                <key>sourceSize</key>
                <string>{133,126}</string>
            </dict>
            <key>u_TitleBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,218},{142,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,43}}</string>
                <key>sourceSize</key>
                <string>{142,43}</string>
            </dict>
            <key>u_TitleBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,182},{242,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,32}}</string>
                <key>sourceSize</key>
                <string>{242,32}</string>
            </dict>
            <key>u_TitleBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{620,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,42}}</string>
                <key>sourceSize</key>
                <string>{620,42}</string>
            </dict>
            <key>u_Trophy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,357},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>u_Trophy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,331},{112,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{112,116}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>u_Trophy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,211},{110,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{110,116}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>u_ico000.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,218},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainScene2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fdbaa2ad78fa384a8c2e8f04ad9fa76$</string>
            <key>textureFileName</key>
            <string>MainScene2.png</string>
        </dict>
    </dict>
</plist>
