<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainFrameButtonAni01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,262},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,181},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,3},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,354},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,273},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,100},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,192},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,366},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,366},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>MainFrameButtonAni05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,282},{78,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{78,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>MainFrameButtonAni05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,192},{78,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>MainFrameButtonAni05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,100},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>MainFrameButtonAni06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,3},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>MainFrameButtonAni06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,3},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>MainFrameButtonAni06_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,421},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>MainFrameButtonAni06_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,343},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>MainFrameButtonAni06_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,3},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>MainFrameButtonAni06_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,84},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>MainFrameButtonAni06_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,3},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>MainFrameButtonAniText_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,478},{65,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,27}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>MainFrameButtonAniText_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,447},{67,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>MainFrameButtonAniText_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,480},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>MainFrameButtonAniText_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,447},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>MainFrameButtonAniText_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,447},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,27}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>MainFrameButtonAniText_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,480},{65,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>MainFrameButtonAniText_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,480},{65,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,29}</string>
            </dict>
            <key>MainFrameButtonAni_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainFrameButtonAni.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f50f61910acf7e4e77e5539a938f8d$</string>
            <key>textureFileName</key>
            <string>MainFrameButtonAni.png</string>
        </dict>
    </dict>
</plist>
