<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RechargeAni_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,858},{85,101}}</string>
                <key>offset</key>
                <string>{45,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,282},{85,101}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,826},{171,317}}</string>
                <key>offset</key>
                <string>{21,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,162},{171,317}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,858},{251,305}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,104},{251,305}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,274},{353,277}}</string>
                <key>offset</key>
                <string>{2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,33},{353,277}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,3},{447,267}}</string>
                <key>offset</key>
                <string>{7,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,1},{447,267}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,555},{475,267}}</string>
                <key>offset</key>
                <string>{8,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{475,267}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,585},{501,269}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{501,269}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,284},{527,297}}</string>
                <key>offset</key>
                <string>{9,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{527,297}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{541,277}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{541,277}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>RechargeAni_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,826},{279,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,283}}</string>
                <key>sourceSize</key>
                <string>{279,283}</string>
            </dict>
            <key>RechargeAni_Box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,384},{97,96}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{97,96}}</string>
                <key>sourceSize</key>
                <string>{119,106}</string>
            </dict>
            <key>RechargeAni_Box02.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,274},{115,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{115,106}}</string>
                <key>sourceSize</key>
                <string>{119,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RechargeAni.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29f45d01638b387a860db7960afb3e52$</string>
            <key>textureFileName</key>
            <string>RechargeAni.png</string>
        </dict>
    </dict>
</plist>
