<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_RechargeReturnDiamondBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,66},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>u_RechargeReturnDiamondBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,3},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>u_RechargeReturnDiamondBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,3},{186,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,35}}</string>
                <key>sourceSize</key>
                <string>{186,35}</string>
            </dict>
            <key>u_RechargeReturnDiamondBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,49},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>u_RechargeReturnDiamondTex.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,66},{292,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,46}}</string>
                <key>sourceSize</key>
                <string>{292,46}</string>
            </dict>
            <key>u_RechargeReturnDiamondTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{195,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,59}}</string>
                <key>sourceSize</key>
                <string>{195,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RechargeReturnDiamond.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:927c1804611a17c4151dc330a6245dc0$</string>
            <key>textureFileName</key>
            <string>RechargeReturnDiamond.png</string>
        </dict>
    </dict>
</plist>
