<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_WeekCardTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,111},{138,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,40}}</string>
                <key>sourceSize</key>
                <string>{138,40}</string>
            </dict>
            <key>u_WeekCardTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,67},{156,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{156,40}</string>
            </dict>
            <key>u_WeekCardTex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,3},{259,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,42}}</string>
                <key>sourceSize</key>
                <string>{259,42}</string>
            </dict>
            <key>u_WeekCardTexBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,49},{251,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,50}}</string>
                <key>sourceSize</key>
                <string>{251,50}</string>
            </dict>
            <key>u_WeekCardTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{196,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,60}}</string>
                <key>sourceSize</key>
                <string>{196,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeekCard.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cade2e53b0269818f899fb73d8d8709d$</string>
            <key>textureFileName</key>
            <string>WeekCard.png</string>
        </dict>
    </dict>
</plist>
